/* 
    Author: Valerie Dubach;
    Theme: Food Order Website Admin;
    Version: 1.0.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    border: 1px solid black;
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}
/* CSS for Menu */

.menu ul {
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.menu ul li a:hover{
    color: #ff4757;
}

/* css for Footer */
.footer{
    background-color: #ff4757;
    color: white
}