/* 
    Author: Valerie Dubach;
    Theme: Food Order Website Admin;
    Version: 1.0.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clear-fix{
    float: none;
    clear: both;
}
/* CSS for Menu */

.menu{
    border-bottom: 1px solid black;
}
.menu ul {
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.menu ul li a:hover{
    color: #ff4757;
}

/* CSS for Main Section */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 18%;
    background: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* css for Footer */
.footer{
    background-color: #ff4757;
    color: white
}

/* Table Styles for Manage Admin */
.tbl-full{
    width: 100%
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}

/* add admin styles */
.tbl-30{
    width: 30%;
}

/* button styles */
.btn{
    padding: .75%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5%;
}
.primary{
    background: #1e90ff;
}
.primary:hover{
    background: #3742fa;
}

.secondary{
    background: #7bed9f;
    color: black !important;
}

.secondary:hover{
    background: #2ed573;
    color: black !important;
}

.danager{
    background: #ff6b81;
}

.danager:hover{
    background: #ff4757;
}